# Load libraries

In [1]:
import numpy as np
import pandas as pd
import mysql.connector

# Load data

In [2]:
# Ensure the correct file paths
restaurants_file = "../data/restaurants_cleaned.csv"
cuisines_file = "../data/restaurant_cuisines.csv"
menus_file = "../data/cleaned_restaurant_menus.csv"

# Load the datasets
restaurants_df = pd.read_csv(restaurants_file)
cuisines_df = pd.read_csv(cuisines_file)
menus_df = pd.read_csv(menus_file)

# Replace string "nan" and empty strings with None
menus_df = menus_df.replace("nan", None)
menus_df = menus_df.replace("", None)

restaurants_df = restaurants_df.replace("nan", None)
restaurants_df = restaurants_df.replace("", None)

cuisines_df = cuisines_df.replace("nan", None)
cuisines_df = cuisines_df.replace("", None)

# Debugging: Check if data was loaded properly
print("Restaurants CSV Rows:", restaurants_df.shape[0])
print("Cuisines CSV Rows:", cuisines_df.shape[0])
print("Menus CSV Rows:", menus_df.shape[0])

print("First 5 rows of Restaurants CSV:")
display(restaurants_df.head())

Restaurants CSV Rows: 63468
Cuisines CSV Rows: 232409
Menus CSV Rows: 966780
First 5 rows of Restaurants CSV:

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),0.0,0.0,"Burgers, American, Sandwiches",Cheap,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,0.0,0.0,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",Not Available,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),0.0,0.0,"American, Cheesesteak, Sandwiches, Alcohol",Cheap,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),0.0,0.0,Pizza,Cheap,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",Not Available,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700

In [3]:
restaurants_df = pd.read_csv(restaurants_file, na_values=["nan", "NaN", "NULL"])
cuisines_df = pd.read_csv(cuisines_file, na_values=["nan", "NaN", "NULL"])
menus_df = pd.read_csv(menus_file, na_values=["nan", "NaN", "NULL"])

In [4]:
restaurants_df = restaurants_df.replace({np.nan: None})
menus_df = menus_df.replace({np.nan: None})
cuisines_df = cuisines_df.replace({np.nan: None})

In [5]:
# Drop the 'description' column
menus_df.drop(columns=["description"], inplace=True)

# Verify the column is removed
print("Menus dataframe columns after dropping 'description':")
print(menus_df.columns)

Menus dataframe columns after dropping 'description':
Index(['restaurant_id', 'category', 'name', 'price', 'price_str'], dtype='object')

In [6]:
restaurants_df["price_range"] = restaurants_df["price_range"].str.strip()  # Remove spaces
restaurants_df["price_range"] = restaurants_df["price_range"].str.replace(r'\s+', ' ', regex=True)  # Remove double spaces
restaurants_df["price_range"] = restaurants_df["price_range"].astype(str)  # Ensure it's a string

# Re-check the max length
print(restaurants_df["price_range"].str.len().max())  # Should still be 14
print(restaurants_df["price_range"].unique())  # Ensure values look normal

14
['Cheap' 'Not Available' 'Moderate' 'Expensive' 'Very Expensive']

In [7]:
# Replace string "nan" and empty strings with None
menus_df = menus_df.replace("nan", None)
menus_df = menus_df.replace("", None)

restaurants_df = restaurants_df.replace("nan", None)
restaurants_df = restaurants_df.replace("", None)

cuisines_df = cuisines_df.replace("nan", None)
cuisines_df = cuisines_df.replace("", None)

In [8]:
# Replace NaN, "nan" strings, empty strings, and None with actual None values
menus_df = menus_df.replace({np.nan: None, "nan": None, "": None})
restaurants_df = restaurants_df.replace({np.nan: None, "nan": None, "": None})
cuisines_df = cuisines_df.replace({np.nan: None, "nan": None, "": None})

In [9]:
menus_df = menus_df.dropna()
restaurants_df = restaurants_df.dropna()
cuisines_df = cuisines_df.dropna()

In [10]:
# Check if any column contains the string "nan"
for column in menus_df.columns:
    print(f"{column}: {menus_df[column].astype(str).str.contains('nan').sum()} occurrences")

for column in restaurants_df.columns:
    print(f"{column}: {restaurants_df[column].astype(str).str.contains('nan').sum()} occurrences")

for column in cuisines_df.columns:
    print(f"{column}: {cuisines_df[column].astype(str).str.contains('nan').sum()} occurrences")

restaurant_id: 0 occurrences
category: 0 occurrences
name: 3214 occurrences
price: 0 occurrences
price_str: 0 occurrences
id: 0 occurrences
position: 0 occurrences
name: 145 occurrences
score: 0 occurrences
ratings: 0 occurrences
category: 1 occurrences
price_range: 0 occurrences
full_address: 161 occurrences
zip_code: 0 occurrences
lat: 0 occurrences
lng: 0 occurrences
restaurant_id: 0 occurrences
cuisine_type: 1 occurrences

# Inserting data into MySQL database

In [15]:
restaurants_df.head()

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,longitude
0,1,19,PJ Fresh (224 Daniel Payne Drive),0.0,0.0,"Burgers, American, Sandwiches",Cheap,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,0.0,0.0,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",Not Available,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),0.0,0.0,"American, Cheesesteak, Sandwiches, Alcohol",Cheap,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),0.0,0.0,Pizza,Cheap,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",Not Available,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700

In [17]:
restaurants_df["price_range"].apply(lambda x: len(x)).max()

np.int64(14)

In [14]:
# Step 1: Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",        
    user="root",    
    password="root1234",  
    database="restaurants_db"
)
cursor = conn.cursor()

# Step 2: Fix MySQL Timeout Issues
cursor.execute("SET SESSION innodb_lock_wait_timeout = 300;")

# Step 3: Load CSV Files
restaurants_df = pd.read_csv("../data/clean/restaurants_cleaned.csv")
cuisines_df = pd.read_csv("../data/clean/restaurant_cuisines.csv")
menus_df = pd.read_csv("../data/clean/cleaned_restaurant_menus.csv")

# Step 4: Fix `lng` Column Name
restaurants_df.rename(columns={"lng": "longitude"}, inplace=True)

# Step 5: Fix 'price_range' Column
restaurants_df["price_range"] = restaurants_df["price_range"].astype(str).str[:50]  # Trim to max 50 chars

# Step 6: Remove Invalid Foreign Keys
valid_restaurant_ids = set(restaurants_df["id"])  # Get valid restaurant IDs
cuisines_df = cuisines_df[cuisines_df["restaurant_id"].isin(valid_restaurant_ids)]  # Remove invalid IDs

# Step 7: Insert Data in Smaller Batches
def insert_batch(cursor, conn, query, data, batch_size=500):
    """Insert data in smaller batches to avoid lock timeout"""
    for i in range(0, len(data), batch_size):
        batch = data[i:i + batch_size]
        try:
            cursor.executemany(query, batch)
            conn.commit()  # Commit after every batch
        except Exception as e:
            print(f"Error inserting batch {i} to {i+batch_size}: {e}")
            conn.rollback()  # Rollback if error occurs

# Insert into `restaurants` table
restaurant_values = [
    (
        row["id"], row["name"], row["score"], row["ratings"],
        row["price_range"]
    ) 
    for _, row in restaurants_df.iterrows()
]

insert_batch(cursor, conn, """
    INSERT INTO restaurants (restaurantID, name, score, ratings, price_range)
    VALUES (%s, %s, %s, %s, %s)
    ON DUPLICATE KEY UPDATE name=VALUES(name);
""", restaurant_values)

# Insert into `restaurant_cuisines` table (Foreign Key Fix Applied)
cuisine_values = [
    (row["restaurant_id"], row["cuisine_type"])
    for _, row in cuisines_df.iterrows()
]

insert_batch(cursor, conn, """
    INSERT INTO restaurant_cuisines (type)
    VALUES (%s);
""", cuisine_values)

# Insert into `restaurant_menus` table
menu_values = [
    (row["restaurant_id"], row["category"], row["name"], row["description"], row["price"])
    for _, row in menus_df.iterrows()
]

insert_batch(cursor, conn, """
    INSERT INTO restaurant_menus (restaurant_id, category, name, description, price)
    VALUES (%s, %s, %s, %s, %s);
""", menu_values)

# Close Connection
conn.close()
print("MySQL database successfully created and populated!")

Error inserting batch 0 to 500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 500 to 1000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 1000 to 1500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 1500 to 2000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 2000 to 2500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 2500 to 3000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 3000 to 3500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 3500 to 4000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 4000 to 4500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 4500 to 5000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 5000 to 5500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 5500 to 6000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 6000 to 6500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 6500 to 7000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 7000 to 7500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 7500 to 8000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 8000 to 8500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 8500 to 9000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 9000 to 9500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 9500 to 10000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 10000 to 10500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 10500 to 11000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 11000 to 11500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 11500 to 12000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 12000 to 12500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 12500 to 13000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 13000 to 13500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 13500 to 14000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 14000 to 14500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 14500 to 15000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 15000 to 15500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 15500 to 16000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 16000 to 16500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 16500 to 17000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 17000 to 17500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 17500 to 18000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 18000 to 18500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 18500 to 19000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 19000 to 19500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 19500 to 20000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 20000 to 20500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 20500 to 21000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 21000 to 21500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 21500 to 22000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 22000 to 22500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 22500 to 23000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 23000 to 23500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 23500 to 24000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 24000 to 24500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 24500 to 25000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 25000 to 25500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 25500 to 26000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 26000 to 26500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 26500 to 27000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 27000 to 27500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 27500 to 28000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 28000 to 28500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 28500 to 29000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 29000 to 29500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 29500 to 30000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 30000 to 30500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 30500 to 31000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 31000 to 31500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 31500 to 32000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 32000 to 32500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 32500 to 33000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 33000 to 33500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 33500 to 34000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 34000 to 34500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 34500 to 35000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 35000 to 35500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 35500 to 36000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 36000 to 36500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 36500 to 37000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 37000 to 37500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 37500 to 38000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 38000 to 38500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 38500 to 39000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 39000 to 39500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 39500 to 40000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 40000 to 40500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 40500 to 41000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 41000 to 41500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 41500 to 42000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 42000 to 42500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 42500 to 43000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 43000 to 43500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 43500 to 44000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 44000 to 44500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 44500 to 45000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 45000 to 45500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 45500 to 46000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 46000 to 46500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 46500 to 47000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 47000 to 47500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 47500 to 48000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 48000 to 48500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 48500 to 49000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 49000 to 49500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 49500 to 50000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 50000 to 50500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 50500 to 51000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 51000 to 51500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 51500 to 52000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 52000 to 52500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 52500 to 53000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 53000 to 53500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 53500 to 54000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 54000 to 54500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 54500 to 55000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 55000 to 55500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 55500 to 56000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 56000 to 56500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 56500 to 57000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 57000 to 57500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 57500 to 58000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 58000 to 58500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 58500 to 59000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 59000 to 59500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 59500 to 60000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 60000 to 60500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 60500 to 61000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 61000 to 61500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 61500 to 62000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 62000 to 62500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 62500 to 63000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 63000 to 63500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 63500 to 64000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 64000 to 64500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 64500 to 65000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 65000 to 65500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 65500 to 66000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 66000 to 66500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 66500 to 67000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 67000 to 67500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 67500 to 68000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 68000 to 68500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 68500 to 69000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 69000 to 69500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 69500 to 70000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 70000 to 70500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 70500 to 71000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 71000 to 71500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 71500 to 72000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 72000 to 72500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 72500 to 73000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 73000 to 73500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 73500 to 74000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 74000 to 74500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 74500 to 75000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 75000 to 75500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 75500 to 76000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 76000 to 76500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 76500 to 77000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 77000 to 77500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 77500 to 78000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 78000 to 78500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 78500 to 79000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 79000 to 79500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 79500 to 80000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 80000 to 80500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 80500 to 81000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 81000 to 81500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 81500 to 82000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 82000 to 82500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 82500 to 83000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 83000 to 83500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 83500 to 84000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 84000 to 84500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 84500 to 85000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 85000 to 85500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 85500 to 86000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 86000 to 86500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 86500 to 87000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 87000 to 87500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 87500 to 88000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 88000 to 88500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 88500 to 89000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 89000 to 89500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 89500 to 90000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 90000 to 90500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 90500 to 91000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 91000 to 91500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 91500 to 92000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 92000 to 92500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 92500 to 93000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 93000 to 93500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 93500 to 94000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 94000 to 94500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 94500 to 95000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 95000 to 95500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 95500 to 96000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 96000 to 96500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 96500 to 97000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 97000 to 97500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 97500 to 98000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 98000 to 98500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 98500 to 99000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 99000 to 99500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 99500 to 100000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 100000 to 100500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 100500 to 101000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 101000 to 101500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 101500 to 102000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 102000 to 102500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 102500 to 103000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 103000 to 103500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 103500 to 104000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 104000 to 104500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 104500 to 105000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 105000 to 105500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 105500 to 106000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 106000 to 106500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 106500 to 107000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 107000 to 107500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 107500 to 108000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 108000 to 108500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 108500 to 109000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 109000 to 109500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 109500 to 110000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 110000 to 110500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 110500 to 111000: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 111000 to 111500: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting batch 111500 to 112000: 1054 (42S22): Unknown column 'nan' in 'field list'